# OS, Python and IDE
.DS_Store
.idea/
.vscode/
.python-version
__pycache__
.ipynb_checkpoints/
.venv*

datasets/
postgres-data/data/
postgres-data/backup/*
simra_data_insights/images/*
im_eval/qualitative/images/*
im_eval/quantitative/images/*
adsp/*.png

ecs-deployment