--extra-index-url=https://pypi.ngc.nvidia.com
cudf-cu11
--extra-index-url=https://pypi.ngc.nvidia.com
dask-cudf-cu11
--extra-index-url=https://pypi.ngc.nvidia.com
cuml-cu11

altair
appnope
argon2-cffi
async-generator
attrs
backcall
bleach
branca
certifi
cffi
charset-normalizer
contextily
cycler
Cython
data
decorator
defusedxml
entrypoints
filterpy
folium
fonttools
funcsigs
future
geographiclib
geopandas
geopy
greenlet
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
latex
MarkupSafe
mapclassify
matplotlib
mistune
mplleaflet
nb-clean
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numba
numpy
OSMnx
packaging
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
Pillow
postgis
prometheus-client
prompt-toolkit
psutil
psycopg2-binary
ptyprocess
pycparser
Pygments
pyparsing
pyproj
pyrsistent
python-dateutil
python-dotenv
pytz
pyzmq
qtconsole
QtPy
requests
scikit-learn
scipy
seaborn
Send2Trash
setuptools-scm
Shapely
shutilwhich
six
SQLAlchemy
statsmodels
tempdir
terminado
testpath
threadpoolctl
tomli
tornado
tqdm
traitlets
typing-extensions
urllib3
vg
wcwidth
webencodings
widgetsnbextension
zipp